/* * {
  border: solid red 2px;
} */

body {
    margin: 0;
    overflow: flow;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
  }

  .header {
    background-color: rgb(31, 41, 55);
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    padding: 0 12rem;
  }

  .header-logo {
    color: #FFFFFF;
    align-content: center;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .header-menu {
    display: flex;
    gap: 25px;
    font-size: 1.1rem;
  }

  .presentacion {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 60px;
    height: 19rem;
  }

  .izquierda {
    width: 400px;
    gap: 1rem;
  }

  #titulo_presentacion {
    color:#FFFFFF;
    font-size: 2.7rem;
    font-weight: bold;
  }

  #foto_presentacion {
    width: 500px;
    height: 200px;
  }

  #texto_presentacion {
    color: #C5C7CE;
    margin-bottom: 1rem;
  }

  .bloque1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    height: 25rem;
  }

  #block1_title {
    color: #1F2937;
    font-weight: bolder;
    font-size: 2.2rem;
  }

  .photos {
    display: flex;
    flex: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
    margin-top: 2rem;
    width: 60rem;
  }

  .photo {
    display: flex;
    flex-direction: column;
    width: 130px;
    text-align: center;
    align-items: center;
    color: #5D6673;
    font-size: large;
  }

  .foto_carrusel {
    height: 190px;
    width: 190px;
    border-radius: 0.55rem;
  }

  .bloque2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 29rem;
    padding: 0 15rem;
  }

  #quote {
    font-size: 2.3rem;
    font-style: oblique;
    color: #212B39;
    text-align: left;
    font-weight: lighter;
  }

  #artist {
    font-weight: bold;
    text-align: end;
    font-size: 1.5rem;
  }

  .bloque3 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    margin: 5rem;
  }

  .recuadro {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: #3C82F6;
    padding: 4rem 9rem;
    border-radius: 0.55rem;
    max-height: 5rem;
  }

  .bloque3-texto {
    color: #E4E6EC;
    font-size: larger;
  }

  #action {
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
  }

  .footer {
    background-color: #1F2937;
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D8D9DB;
    font-size:large;
  }

  button {
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding:0.50rem 2rem;
    color: white;
    background: #3C82F6;
    border-radius: 0.55rem;
  }

  a {
    text-decoration: none;
    color: #C5C7CE;
  }

  ul {
    list-style:none;
  }

  #borde-blanco {
    border: 2.5px solid white;
    color: white;
    font-size: large;
  }